body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;;
  background-color: #F5DAD2;
  font-size: 16px;

}
.container {
  text-align: center;
  width: 800px;
  margin: 40px auto;
}

h1, h2{
color: #75A47F;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px
}


a{
  text-decoration: none;
  color: #75A47F;

}

a:hover {
  background-color: #BACD92;

}

.image_circle{
  border-radius: 50%;
}

.card{
  background-color: #FCFFE0;
  width: 700px;
  margin: 20px auto;
  padding: 40px;
  box-shadow: rgba (0,0,0,0.1);
  border-radius: 10px;
  line-height: 25px;
  box-shadow: 0 10px 30px#835346;
}

.btn-green{
  background-color: #75A47F;
  padding: 15px;
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin: 20px
}

.btn-green:hover{
  background-color: #BACD92;
}

li {
  margin: 0px
}

.list-in-line li{
  list-style: none;
  display: inline;
}

#intro p{
  padding-bottom: 30px;
}

.icon{
  color :#75A47F;
  font-size: 30px;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .card {
    width: 400px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .card {
    width: 300px;
  }
}
